In [1]:
import pandas as pd
from pandas.api.types import CategoricalDtype
import time
from datetime import datetime
import scipy.spatial
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
# We're going to be calculating memory usage a lot,
# so we'll create a function to save us some time!

def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [20]:
dtypes = pd.Series({'idaviso': np.dtype('uint32'), 'idpostulante': np.dtype('object')})

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))
postulaciones = pd.read_csv('/home/lucio/Documentos/Datos/NaventDatosTP/Data/Postulaciones/Postulaciones-merge.csv',
                            dtype=column_types,parse_dates=['fechapostulacion'],infer_datetime_format=True)
postulaciones = postulaciones.drop(columns=['Unnamed: 0','fechapostulacion'])

In [21]:
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6603752 entries, 0 to 6603751
Data columns (total 2 columns):
idaviso         uint32
idpostulante    object
dtypes: object(1), uint32(1)
memory usage: 75.6+ MB

In [5]:
dtypes = pd.Series({'idpostulante': np.dtype('object'), 'sexo': CategoricalDtype(categories=['FEM', 'MASC', 'NO_DECLARA'], ordered=False)})

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

postulantes_genero_edad = pd.read_csv('/home/lucio/Documentos/Datos/NaventDatosTP/Data/Postulantes-Genero-Edad/postulantes_genero_y_edad-merge.csv',
                                    dtype=column_types,parse_dates=['fechanacimiento'],
                                      infer_datetime_format=True)
postulantes_genero_edad = postulantes_genero_edad.drop(columns=['Unnamed: 0'])

In [6]:
dtypes = pd.Series({'estado': CategoricalDtype(categories=['Abandonado', 'En Curso', 'Graduado'], ordered=False), 'idpostulante': np.dtype('object'),
                    'nombre': CategoricalDtype(categories=['Doctorado', 'Master', 'Otro', 'Posgrado', 'Secundario',
                  'Terciario/Técnico', 'Universitario'],
                 ordered=False)})


dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

postulantes_educacion = pd.read_csv('/home/lucio/Documentos/Datos/NaventDatosTP/Data/Postulantes-Educacion/postulantes_educacion-merge.csv',
                                    dtype=column_types)
postulantes_educacion = postulantes_educacion.drop(columns=['Unnamed: 0','nombre_numerico'])

In [7]:
#Hago un merge de educacion y genero-edad
postulantes_merge = pd.merge(postulantes_genero_edad,postulantes_educacion,how='left',on='idpostulante')

In [8]:
postulantes_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504407 entries, 0 to 504406
Data columns (total 5 columns):
idpostulante       504407 non-null object
fechanacimiento    504407 non-null object
sexo               504407 non-null category
nombre             447909 non-null category
estado             447909 non-null category
dtypes: category(3), object(2)
memory usage: 13.0+ MB

In [9]:
postulantes_merge.head()

  idpostulante fechanacimiento        sexo    nombre    estado
0          6MM      1985-01-01        MASC       NaN       NaN
1          Nzz             nan  NO_DECLARA       NaN       NaN
2          ZX1             nan  NO_DECLARA       NaN       NaN
3          Nq5             nan  NO_DECLARA       NaN       NaN
4          ebE      1952-07-07        MASC  Posgrado  Graduado

In [10]:
#Voy a agregar una columna con la edad ya calculada(estimando por 2017-año nacimiento) para cada registro
postulantes_merge["año"] = postulantes_merge[postulantes_merge["fechanacimiento"] != 'nan']\
        ["fechanacimiento"].apply(lambda x: x[0:4])
postulantes_merge["edad"] = postulantes_merge[postulantes_merge["año"].notna()] \
        ["año"].apply(lambda x: 2017 - int(x))

In [11]:
#Elimino columna fechanacimiento y año que ya no me sirven
postulantes_merge = postulantes_merge.drop(columns=['fechanacimiento','año'])

In [12]:
postulantes_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504407 entries, 0 to 504406
Data columns (total 5 columns):
idpostulante    504407 non-null object
sexo            504407 non-null category
nombre          447909 non-null category
estado          447909 non-null category
edad            477918 non-null float64
dtypes: category(3), float64(1), object(1)
memory usage: 13.0+ MB

# Agrego la informacion a postulaciones

In [22]:
merge_postulaciones = pd.merge(postulaciones,postulantes_merge,how='left',on='idpostulante')

In [23]:
#Creo columna con un 1 para indicar postulacion
merge_postulaciones['se_postulo'] = 1
merge_postulaciones['se_postulo'] = merge_postulaciones[['se_postulo']].apply(pd.to_numeric,downcast='unsigned')

In [24]:
merge_postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6603752 entries, 0 to 6603751
Data columns (total 7 columns):
idaviso         uint32
idpostulante    object
sexo            category
nombre          category
estado          category
edad            float64
se_postulo      uint8
dtypes: category(3), float64(1), object(1), uint32(1), uint8(1)
memory usage: 201.5+ MB

In [25]:
merge_postulaciones[merge_postulaciones['edad'].isnull()]

,idaviso,idpostulante,sexo,nombre,estado,edad,se_postulo
570,1112281337,NM1J0z,MASC,Secundario,Graduado,NaN,1
571,1112334640,NM1J0z,MASC,Secundario,Graduado,NaN,1
572,1112289378,NM1J0z,MASC,Secundario,Graduado,NaN,1
573,1112296073,NM1J0z,MASC,Secundario,Graduado,NaN,1
574,1112310231,NM1J0z,MASC,Secundario,Graduado,NaN,1
575,1112195462,NM1J0z,MASC,Secundario,Graduado,NaN,1
576,1112288872,NM1J0z,MASC,Secundario,Graduado,NaN,1
577,1112277388,NM1J0z,MASC,Secundario,Graduado,NaN,1
578,1112334643,NM1J0z,MASC,Secundario,Graduado,NaN,1
579,1112153209,NM1J0z,MASC,Secundario,Graduado,NaN,1
580,1112351871,NM1J0z,MASC,Secundario,Graduado,NaN,1
581,1112353148,NM1J0z,MASC,Secundario,Graduado,NaN,1
582,1112351859,NM1J0z,MASC,Secundario,Graduado,NaN,1
583,1112358588,NM1J0z,MASC,Secundario,Graduado,NaN,1
21373,1111972061,1Ba1vE,NO_DECLARA,NaN,NaN,NaN,1
21374,1112312366,1Ba1vE,NO_DECLARA,NaN,NaN,NaN,1
21375,1111753928,1Ba1vE,NO_DECLARA,NaN,NaN,NaN,1
21376,1112261676,1Ba1vE,NO_DECLARA,NaN,NaN,NaN,1
21377,1112254546,1Ba1vE,NO_DECLARA,NaN,NaN,NaN,1
21378,1112265392,1Ba1vE,NO_DECLARA,NaN,NaN,NaN,1
21379,1112293768,1Ba1vE,NO_DECLARA,NaN,NaN,NaN,1
53437,1112359086,EzZPwrN,NO_DECLARA,NaN,NaN,NaN,1
80506,1111790454,1QdkBMz,FEM,Master,Graduado,NaN,1
80507,1112235015,1QdkBMz,FEM,Master,Graduado,NaN,1
80508,1112253283,1QdkBMz,FEM,Master,Graduado,NaN,1
80509,1112223921,1QdkBMz,FEM,Master,Graduado,NaN,1
80510,1112265363,1QdkBMz,FEM,Master,Graduado,NaN,1
80511,1112274057,1QdkBMz,FEM,Master,Graduado,NaN,1
80512,1112279763,1QdkBMz,FEM,Master,Graduado,NaN,1
80513,1112353630,1QdkBMz,FEM,Master,Graduado,NaN,1
...,...,...,...,...,...,...,...
6603711,1112409404,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603712,1112383501,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603713,1112370570,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603714,1112376875,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603715,1112357780,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603716,1112368325,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603717,1112396113,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603718,1112350856,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603719,1112394743,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603720,1112357032,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603721,1112369367,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603722,1112285718,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603723,1112404551,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603724,1112085715,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603725,1112414973,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603726,1112394499,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603727,1112423829,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603728,1112283616,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603729,1112428719,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603730,1112396644,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603731,1112399940,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603732,1110843523,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603733,1112377120,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603734,1112411944,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603735,1112429944,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603736,1112378625,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603737,1112396114,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603738,1112388569,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603739,1112424040,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1
6603740,1112432333,VNr0qZ2,NO_DECLARA,NaN,NaN,NaN,1

In [26]:
#Me quedo con los registros con todos los datos (por ahora desp ver si se puede usar imputing)
merge_sin_nan = merge_postulaciones[merge_postulaciones['nombre'].notnull() &
                                    merge_postulaciones['estado'].notnull() & 
                                    merge_postulaciones['edad'].notnull()]
merge_sin_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6327947 entries, 0 to 6603751
Data columns (total 7 columns):
idaviso         uint32
idpostulante    object
sexo            category
nombre          category
estado          category
edad            float64
se_postulo      uint8
dtypes: category(3), float64(1), object(1), uint32(1), uint8(1)
memory usage: 193.1+ MB

# Agrego datos de vistas que serian los postulantes que ven algo y no se postulan

In [18]:
dtypes = pd.Series({'idAviso': np.dtype('uint32'), 'idpostulante': np.dtype('object')})

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

vistas = pd.read_csv('/home/lucio/Documentos/Datos/NaventDatosTP/Data/Vistas/Vistas-merge.csv',dtype=column_types,parse_dates=['timestamp'],
                     infer_datetime_format=True)
vistas = vistas.drop(columns=['Unnamed: 0'])
#Considero unica vista de aviso por postulante (no me importa ni horario ni cantidad solo que lo vea)
vistas.drop(columns=['timestamp'],inplace=True)
vistas.drop_duplicates(subset=['idAviso','idpostulante'],inplace=True)
vistas['se_postulo'] = 0
vistas['se_postulo'] = vistas[['se_postulo']].apply(pd.to_numeric,downcast='unsigned')

In [19]:
vistas.rename(index=str,columns={'idAviso':'idaviso'},inplace=True)
vistas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8597915 entries, 0 to 8597914
Data columns (total 3 columns):
idaviso         uint32
idpostulante    object
se_postulo      uint8
dtypes: object(1), uint32(1), uint8(1)
memory usage: 172.2+ MB

In [28]:
#Puede que haya vistas que enrealidad el postulante luego se postulo asi que verifico con el dataset merge
outer = pd.merge(merge_postulaciones,vistas,how='outer',on=['idaviso','idpostulante'])

In [1]:
#Dejo solo los que no aparecen ya en postulaciones
trainingSet = outer[outer['se_postulo_x'].isnull() & outer['se_postulo_y'] == 0]
trainingSet.drop('se_postulo_x',inplace=True)
trainingSet.rename(index=str,columns={'se_postulo_y':'se_postulo'},inplace=True)

NameError: name 'outer' is not defined

In [36]:
pd.concat([trainingSet,merge_postulaciones])

/home/lucio/Documentos/Datos/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

,edad,estado,idaviso,idpostulante,nombre,se_postulo,se_postulo_x,se_postulo_y,sexo
6,55.0,Graduado,1112302347,5awk,Universitario,NaN,1.0,0.0,FEM
10,55.0,Graduado,1112303543,5awk,Universitario,NaN,1.0,0.0,FEM
12,55.0,Graduado,1112315188,5awk,Universitario,NaN,1.0,0.0,FEM
13,55.0,Graduado,1112346738,5awk,Universitario,NaN,1.0,0.0,FEM
14,55.0,Graduado,1112330625,5awk,Universitario,NaN,1.0,0.0,FEM
15,55.0,Graduado,1112306543,5awk,Universitario,NaN,1.0,0.0,FEM
16,55.0,Graduado,1112315170,5awk,Universitario,NaN,1.0,0.0,FEM
17,55.0,Graduado,1111799928,5awk,Universitario,NaN,1.0,0.0,FEM
18,55.0,Graduado,1112323355,5awk,Universitario,NaN,1.0,0.0,FEM
19,55.0,Graduado,1112305358,5awk,Universitario,NaN,1.0,0.0,FEM
42,39.0,Abandonado,1112364763,ZaO5,Universitario,NaN,1.0,0.0,FEM
56,48.0,En Curso,1112306543,NdJl,Posgrado,NaN,1.0,0.0,MASC
58,48.0,En Curso,1112364750,NdJl,Posgrado,NaN,1.0,0.0,MASC
77,51.0,Abandonado,1112297566,aOQq,Universitario,NaN,1.0,0.0,MASC
86,51.0,Abandonado,1112320458,aOQq,Universitario,NaN,1.0,0.0,MASC
87,51.0,Abandonado,1112311264,aOQq,Universitario,NaN,1.0,0.0,MASC
94,41.0,Graduado,1112351910,8BkL,Master,NaN,1.0,0.0,FEM
96,41.0,Graduado,1112363539,8BkL,Master,NaN,1.0,0.0,FEM
97,41.0,Graduado,1112355191,8BkL,Master,NaN,1.0,0.0,FEM
99,41.0,Graduado,1112149552,8BkL,Master,NaN,1.0,0.0,FEM
107,39.0,En Curso,1112366333,1QLLO,Universitario,NaN,1.0,0.0,FEM
111,42.0,Graduado,1112349723,YjGMZ,Universitario,NaN,1.0,0.0,FEM
112,42.0,Graduado,1112308241,YjGMZ,Universitario,NaN,1.0,0.0,FEM
123,52.0,Graduado,1112300563,YVO3q,Universitario,NaN,1.0,0.0,FEM
124,52.0,Graduado,1112348722,YVO3q,Universitario,NaN,1.0,0.0,FEM
125,52.0,Graduado,1112337868,YVO3q,Universitario,NaN,1.0,0.0,FEM
126,52.0,Graduado,1112349943,YVO3q,Universitario,NaN,1.0,0.0,FEM
128,52.0,Graduado,1112355399,YVO3q,Universitario,NaN,1.0,0.0,FEM
236,55.0,En Curso,1112359895,ZPWlE,Universitario,NaN,1.0,0.0,FEM
237,55.0,En Curso,1112359619,ZPWlE,Universitario,NaN,1.0,0.0,FEM
...,...,...,...,...,...,...,...,...,...
6603722,NaN,NaN,1112285718,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603723,NaN,NaN,1112404551,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603724,NaN,NaN,1112085715,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603725,NaN,NaN,1112414973,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603726,NaN,NaN,1112394499,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603727,NaN,NaN,1112423829,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603728,NaN,NaN,1112283616,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603729,NaN,NaN,1112428719,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603730,NaN,NaN,1112396644,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603731,NaN,NaN,1112399940,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603732,NaN,NaN,1110843523,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603733,NaN,NaN,1112377120,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603734,NaN,NaN,1112411944,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603735,NaN,NaN,1112429944,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603736,NaN,NaN,1112378625,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603737,NaN,NaN,1112396114,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603738,NaN,NaN,1112388569,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603739,NaN,NaN,1112424040,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603740,NaN,NaN,1112432333,VNr0qZ2,NaN,1.0,NaN,NaN,NO_DECLARA
6603741,35.0,NaN,1112354099,mzdNpX9,NaN,1.0,NaN,NaN,MASC
6603742,35.0,NaN,1112352347,mzdNpX9,NaN,1.0,NaN,NaN,MASC
6603743,35.0,NaN,1112346761,mzdNpX9,NaN,1.0,NaN,NaN,MASC
6603744,19.0,En Curso,1002101668,5mPJNDG,Universitario,1.0,NaN,NaN,FEM
6603745,19.0,En Curso,1111918036,5mPJNDG,Universitario,1.0,NaN,NaN,FEM
6603746,19.0,En Curso,1112345900,5mPJNDG,Universitario,1.0,NaN,NaN,FEM
6603747,19.0,En Curso,1112334789,5mPJNDG,Universitario,1.0,NaN,NaN,FEM
6603748,19.0,En Curso,1112334784,5mPJNDG,Universitario,1.0,NaN,NaN,FEM
6603749,19.0,En Curso,1112334806,5mPJNDG,Universitario,1.0,NaN,NaN,FEM
6603750,41.0,Graduado,1112303592,zvabRzD,Secundario,1.0,NaN,NaN,MASC
6603751,41.0,Graduado,1110591925,zvabRzD,Secundario,1.0,NaN,NaN,MASC

In [18]:
#Vamos a codificar cada columna que sea de strings
lb_make1 = LabelEncoder()
merge_sin_nan["estado_code"] = lb_make1.fit_transform(merge_sin_nan["estado"])

lb_make2 = LabelEncoder()
merge_sin_nan["sexo_code"] = lb_make2.fit_transform(merge_sin_nan["sexo"])

lb_make3 = LabelEncoder()
merge_sin_nan["nombre_code"] = lb_make3.fit_transform(merge_sin_nan["nombre"])

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
#Dropeo las columnas que use para codificar
postulantes_merge = postulantes_merge.drop(columns=['sexo','nombre','estado'])
postulantes_merge.info()

In [ ]:
postulantes_merge_int = postulantes_merge.select_dtypes(include=['int','float'])
converted_int = postulantes_merge_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(postulantes_merge_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([postulantes_merge_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

In [ ]:
optimized_postulantes_merge = postulantes_merge.copy()

optimized_postulantes_merge[converted_int.columns] = converted_int

print(mem_usage(postulantes_merge))
print(mem_usage(optimized_postulantes_merge))

In [ ]:
optimized_postulantes_merge.info()

In [19]:
optimized_postulantes_merge.to_csv('Data/optimized_postulantes_merge.csv')

In [20]:
intereses_vistas = pd.read_csv('Data/unique_postulantes_con_intereses_vistas.csv')

In [22]:
intereses_vistas.head()

,idpostulante,nombre_zona_interes,nivel_laboral_interes,tipo_de_trabajo_interes,nombre_area_interes
0,YjVJQ6Z,-7,-4,-1,-175
1,BmVpYoR,NaN,NaN,NaN,NaN
2,wVkBzZd,-7,-2,-1,-120
3,OqmP9pv,-7,-4-2,-1,-175
4,DrpbXDP,NaN,NaN,NaN,NaN