In [1]:
import pandas as pd
from pandas.api.types import CategoricalDtype
import time
from datetime import datetime
import scipy.spatial
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
dtypes = pd.Series({'nombre_zona': CategoricalDtype(categories=['Buenos Aires (fuera de GBA)', 'Capital Federal',
                  'GBA Oeste', 'Gran Buenos Aires'],ordered=False),'ciudad': CategoricalDtype(categories=['Argentina', 'Barracas', 'Buenos Aires',
                  'Buenos Aires Province', 'CABA', 'Capital Federal', 'La Plata', 'Mendoza', 'Microcentro', 
                'Parque Patricios','República Argentina', 'San Isidro', 'Santa Rosa ','Tortuguitas',
                'Vicente Lopez', 'Zárate, Campana, Escobar','caba', 'paternal'], ordered=False),
                'nivel_laboral': CategoricalDtype(categories=['Gerencia / Alta Gerencia / Dirección',
                  'Jefe / Supervisor / Responsable', 'Junior', 'Otro', 'Senior / Semi-Senior'],
                 ordered=False),'tipo_de_trabajo': CategoricalDtype(categories=['Fines de Semana', 'Full-time', 'Part-time', 'Pasantia',
                  'Por Contrato', 'Por Horas', 'Primer empleo', 'Teletrabajo','Temporario'],ordered=False)})

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

avisos_detalle = pd.read_csv('Data/Avisos-Detalle/Avisos-Detalle-merge.csv',dtype=column_types)
avisos_detalle = avisos_detalle.drop(columns=['Unnamed: 0','mapacalle','ciudad'])

In [3]:
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25288 entries, 0 to 25287
Data columns (total 9 columns):
idaviso                 25288 non-null int64
idpais                  25288 non-null int64
titulo                  25288 non-null object
descripcion             25288 non-null object
nombre_zona             25288 non-null category
tipo_de_trabajo         25288 non-null category
nivel_laboral           24953 non-null category
nombre_area             25288 non-null object
denominacion_empresa    25281 non-null object
dtypes: category(3), int64(2), object(4)
memory usage: 1.2+ MB

# Limpio descripciones para recuperar datos

In [4]:
listado_caracteres = ["</p>","<strong>","<p>","</strong>","<br />","<ul>","<li>","<u>","<em>",'<p align="center">',\
                        " </u>",'<span lang="ES">',"</em>","</a>","</span>","</u>","</li>","</ul>",'<p style="">',\
                        '<span style="">',"&quot",'<ul style="">','<li style="">','<div style="">','</div>',\
                        '<div>','<span lang="ES" style="">','<u style="">','<strong style="">',\
                        '<p align="center" style="">','<span style="text-decoration: underline;">','\r\n','\t',\
                        '<span>','<span style="text-decoration: line-through;">','<ol>','</ol>','ü','<p <p',\
                        '<span lang="es" style="">','<em style="">',"&gt", "&","acute;",
                      '<p style="display: inline !important;">']
avisos_detalle['descripcion'].replace(regex=True,inplace=True,to_replace=listado_caracteres,value=r' ')

In [5]:
def recuperar_nivel_laboral_titulo(titulo):
    "Recupera el dato nivel laboral del titulo"
    titulo = titulo.lower()
    if "junior" in titulo:
        return "Junior"
    elif "jr" in titulo:
        return "Junior"
    elif "senior" in titulo:
        return "Senior / Semi-Senior"
    elif "sr/ssr" in titulo:
        return "Senior / Semi-Senior"
    elif "sr" in titulo:
        return "Senior / Semi-Senior"
    elif "ssr" in titulo:
        return "Senior / Semi-Senior"
    elif "jefe" in titulo:
        return "Jefe / Supervisor / Responsable"
    else:
        return None
    
def recuperar_nivel_laboral_descripcion(descripcion):
    "Recupera el dato nivel laboral del descripcion"
    descripcion = descripcion.lower()
    if "junior" in descripcion:
        return "Junior"
    elif "jr" in descripcion:
        return "Junior"
    elif "senior" in descripcion:
        return "Senior / Semi-Senior"
    elif "sr/ssr" in descripcion:
        return "Senior / Semi-Senior"
    elif "sr" in descripcion:
        return "Senior / Semi-Senior"
    elif "ssr" in descripcion:
        return "Senior / Semi-Senior"
    elif "jefe" in descripcion:
        return "Jefe / Supervisor / Responsable"
    else:
        return "Otro"

In [6]:
avisos_detalle.loc[avisos_detalle['nivel_laboral'].isnull(),'nivel_laboral'] = avisos_detalle['titulo'].apply(recuperar_nivel_laboral_titulo)
avisos_detalle.loc[avisos_detalle['nivel_laboral'].isnull(),'nivel_laboral'] = avisos_detalle['descripcion'].apply(recuperar_nivel_laboral_descripcion)

In [7]:
avisos_detalle[avisos_detalle['denominacion_empresa'].isnull()]

,idaviso,idpais,titulo,descripcion,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
3168,1111960305,1,VENDEDORA- PORTSAID- ZONA NORTE,EXPERIENCIA PORTSAID 2017 Llegan las Fi...,Gran Buenos Aires,Full-time,Otro,Ventas,NaN
3169,1111960330,1,VENDEDORA- PORTSAID- CAPITAL FEDERAL,EXPERIENCIA PORTSAID 2017 Llega las fie...,Gran Buenos Aires,Full-time,Otro,Ventas,NaN
3521,1112289439,1,Muestrista Desiderata,En Mazalosa s.a. nos encontramos en la búsque...,Gran Buenos Aires,Part-time,Senior / Semi-Senior,Producción,NaN
6221,1112430233,1,MODELO DE CALCE,Importante Empresa Nacional de Indumentaria ...,Gran Buenos Aires,Part-time,Otro,Otros,NaN
8819,1112243714,1,Analista Comercial Senior - PORTSAID-,En Mazalosa nos encontramos en la búsqueda de...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Comercial,NaN
17401,1111946024,1,VENDEDOR DE SALON - PORTSAID-,En Portsaid estamos buscando al mejor vendedo...,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Ventas,NaN
18602,1112017891,1,Promotora - MODELO DE CALCE PORTSAID Y DESIDER...,Nos encontramos en la búsqueda de una Modelo ...,Gran Buenos Aires,Por Horas,Otro,Ventas,NaN

In [8]:
avisos_detalle.loc[3168,'denominacion_empresa'] = "Portsaid"
avisos_detalle.loc[3169,'denominacion_empresa'] = "Portsaid"
avisos_detalle.loc[3521,'denominacion_empresa'] = "Mazalosa S.A"
avisos_detalle.loc[8819,'denominacion_empresa'] = "Mazalosa S.A"
avisos_detalle.loc[17401,'denominacion_empresa'] = "Portsaid"
avisos_detalle.loc[18602,'denominacion_empresa'] = "Portsaid"

In [9]:
avisos_detalle.drop(6221,inplace=True) #Ver si realmente sirve de algo en realidad la columna denom...
avisos_detalle.drop(columns=['descripcion','titulo','idpais'],inplace=True) # Ya no me sirven
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25287 entries, 0 to 25287
Data columns (total 6 columns):
idaviso                 25287 non-null int64
nombre_zona             25287 non-null category
tipo_de_trabajo         25287 non-null category
nivel_laboral           25287 non-null category
nombre_area             25287 non-null object
denominacion_empresa    25287 non-null object
dtypes: category(3), int64(1), object(2)
memory usage: 865.6+ KB

In [10]:
#Vamos a codificar cada columna que sea de strings
lb_make1 = LabelEncoder()
avisos_detalle["nombre_area_code"] = lb_make1.fit_transform(avisos_detalle["nombre_area"])

lb_make2 = LabelEncoder()
avisos_detalle["denominacion_empresa_code"] = lb_make2.fit_transform(avisos_detalle["denominacion_empresa"])

lb_make3 = LabelEncoder()
avisos_detalle["nivel_laboral_code"] = lb_make3.fit_transform(avisos_detalle["nivel_laboral"])

lb_make4 = LabelEncoder()
avisos_detalle["tipo_de_trabajo_code"] = lb_make4.fit_transform(avisos_detalle["tipo_de_trabajo"])

lb_make5 = LabelEncoder()
avisos_detalle["nombre_zona_code"] = lb_make5.fit_transform(avisos_detalle["nombre_zona"])

In [11]:
avisos_detalle.drop(columns=['nombre_area','denominacion_empresa','nivel_laboral',
                            'tipo_de_trabajo','nombre_zona'],inplace=True) # Ya no me sirven
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25287 entries, 0 to 25287
Data columns (total 6 columns):
idaviso                      25287 non-null int64
nombre_area_code             25287 non-null int64
denominacion_empresa_code    25287 non-null int64
nivel_laboral_code           25287 non-null int64
tipo_de_trabajo_code         25287 non-null int64
nombre_zona_code             25287 non-null int64
dtypes: int64(6)
memory usage: 1.4 MB

In [12]:
# We're going to be calculating memory usage a lot,
# so we'll create a function to save us some time!

def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [13]:
avisos_detalle_int = avisos_detalle.select_dtypes(include=['int'])
converted_int = avisos_detalle_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(avisos_detalle_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([avisos_detalle_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

1.35 MB
0.43 MB

        before  after
uint8      NaN    4.0
uint16     NaN    1.0
uint32     NaN    1.0
int64      6.0    NaN

In [14]:
optimized_avisos_detalle = avisos_detalle.copy()

optimized_avisos_detalle[converted_int.columns] = converted_int

print(mem_usage(avisos_detalle))
print(mem_usage(optimized_avisos_detalle))
optimized_avisos_detalle.info()

1.35 MB
0.43 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25287 entries, 0 to 25287
Data columns (total 6 columns):
idaviso                      25287 non-null uint32
nombre_area_code             25287 non-null uint8
denominacion_empresa_code    25287 non-null uint16
nivel_laboral_code           25287 non-null uint8
tipo_de_trabajo_code         25287 non-null uint8
nombre_zona_code             25287 non-null uint8
dtypes: uint16(1), uint32(1), uint8(4)
memory usage: 444.5 KB

In [15]:
optimized_avisos_detalle.to_csv('Data/optimized_avisos_detalle.csv')

In [212]:
testingSet = pd.read_csv('Data/test_final_100k.csv')

In [216]:
mergesito = pd.merge(testingSet,optimized_avisos_detalle,on="idaviso",how="inner")

In [217]:
mergesito

,id,idaviso,idpostulante,nombre_area_code,denominacion_empresa_code,nivel_laboral_code,tipo_de_trabajo_code,nombre_zona_code
0,0,739260,6M9ZQR,30,465,1,1,1
1,1,739260,6v1xdL,30,465,1,1,1
2,2,739260,ezRKm9,30,465,1,1,1
3,3,758580,1Q35ej,170,3891,3,1,1
4,4,758580,EAN4J6,170,3891,3,1,1
5,5,758580,8R6pzR,170,3891,3,1,1
6,6,776420,aZJ2XN,40,3060,3,1,1
7,7,776420,Nmpo3J,40,3060,3,1,1
8,8,776420,eVqWar,40,3060,3,1,1
9,9,820850,6ZBD33,154,2486,3,4,0
10,10,820850,1j4RNj,154,2486,3,4,0
11,11,820850,ZOwE8,154,2486,3,4,0
12,12,820850,NG4BaD,154,2486,3,4,0
13,13,914880,6q6eNl,170,198,3,1,1
14,14,914880,8E8pWj,170,198,3,1,1
15,15,914880,eVqbDr,170,198,3,1,1
16,16,1112360,6kRZ44,154,1194,3,1,1
17,17,1112360,8XGB3D,154,1194,3,1,1
18,18,1112360,5qVB9X,154,1194,3,1,1
19,19,1112360,Z6zxXZ,154,1194,3,1,1
20,20,1141070,edaNB4,112,1821,3,4,0
21,21,1141070,EZ9pe6,112,1821,3,4,0
22,22,1141070,aXa55D,112,1821,3,4,0
23,23,1144960,NEJjvL,26,3872,3,2,0
24,24,1144960,6Q32Vj,26,3872,3,2,0
25,25,1144960,NWxrWL,26,3872,3,2,0
26,26,1145170,Y9d5Bw,185,3614,3,2,1
27,27,1145170,edaoDp,185,3614,3,2,1
28,28,1145170,Z8pvLz,185,3614,3,2,1
29,29,1176260,ZvQJ2z,112,952,3,1,1
...,...,...,...,...,...,...,...,...
99970,99970,1112515048,EbooLJ,2,210,4,1,7
99971,99971,1112515048,Zv1eoY,2,210,4,1,7
99972,99972,1112515048,YqJLDw,2,210,4,1,7
99973,99973,1112515056,8RODvz,170,2127,4,1,7
99974,99974,1112515056,50p1Zp,170,2127,4,1,7
99975,99975,1112515056,aZJQP9,170,2127,4,1,7
99976,99976,1112515069,eZ8294,32,410,4,1,7
99977,99977,1112515069,NROBQ4,32,410,4,1,7
99978,99978,1112515069,a8YdG9,32,410,4,1,7
99979,99979,1112515080,8EQpWl,156,1452,4,5,1
99980,99980,1112515080,ZREM3E,156,1452,4,5,1
99981,99981,1112515080,NDaAYJ,156,1452,4,5,1
99982,99982,1112515081,EwKNO6,4,2982,4,1,7
99983,99983,1112515081,aZJWvq,4,2982,4,1,7
99984,99984,1112515081,8R4ZBz,4,2982,4,1,7
99985,99985,1112515099,eprYVE,30,936,4,1,7
99986,99986,1112515099,8E8lLW,30,936,4,1,7
99987,99987,1112515099,Z0A84P,30,936,4,1,7
99988,99988,1112515103,Y6xQ4q,33,3284,4,1,7
99989,99989,1112515103,NRO8wz,33,3284,4,1,7
99990,99990,1112515103,ZvQaaY,33,3284,4,1,7
99991,99991,1112515105,ZREdK1,117,3152,4,1,7
99992,99992,1112515105,NmpeRJ,117,3152,4,1,7
99993,99993,1112515105,5RVLZv,117,3152,4,1,7
99994,99994,1112515111,YqJDoD,141,4060,2,1,7
99995,99995,1112515111,5RVZBp,141,4060,2,1,7
99996,99996,1112515111,ZvQXN1,141,4060,2,1,7
99997,99997,1112515116,NmpwAB,138,2616,3,3,7
99998,99998,1112515116,aZJMqJ,138,2616,3,3,7
99999,99999,1112515116,8R48Ex,138,2616,3,3,7

In [221]:
postulantes_optimized = pd.read_csv('Data/optimized_postulantes_merge.csv')
postulantes_optimized.drop(columns=['Unnamed: 0'],inplace=True)

In [223]:
mergesito2 = pd.merge(mergesito,postulantes_optimized,on="idpostulante",how='left')
mergesito2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 12 columns):
id                           100000 non-null int64
idaviso                      100000 non-null int64
idpostulante                 100000 non-null object
nombre_area_code             100000 non-null uint8
denominacion_empresa_code    100000 non-null uint16
nivel_laboral_code           100000 non-null uint8
tipo_de_trabajo_code         100000 non-null uint8
nombre_zona_code             100000 non-null uint8
edad                         93346 non-null float64
estado_code                  93346 non-null float64
sexo_code                    93346 non-null float64
nombre_code                  93346 non-null float64
dtypes: float64(4), int64(2), object(1), uint16(1), uint8(4)
memory usage: 6.7+ MB

In [224]:
mergesito2[mergesito2['edad'].isnull()]

,id,idaviso,idpostulante,nombre_area_code,denominacion_empresa_code,nivel_laboral_code,tipo_de_trabajo_code,nombre_zona_code,edad,estado_code,sexo_code,nombre_code
26,26,1145170,Y9d5Bw,185,3614,3,2,1,NaN,NaN,NaN,NaN
55,55,1309510,1xOqmO,170,3684,3,1,1,NaN,NaN,NaN,NaN
60,60,1483300,8wb9AL,168,2633,3,1,3,NaN,NaN,NaN,NaN
78,78,1499190,eRV4RE,31,1543,3,1,11,NaN,NaN,NaN,NaN
82,82,1508460,eRWJz8,40,198,3,1,0,NaN,NaN,NaN,NaN
109,109,1573840,NGmez5,185,3290,3,1,1,NaN,NaN,NaN,NaN
111,111,1573840,6MM,185,3290,3,1,1,NaN,NaN,NaN,NaN
112,112,1604840,aPR4m,26,2633,3,1,8,NaN,NaN,NaN,NaN
114,114,1604840,5dlZDz,26,2633,3,1,8,NaN,NaN,NaN,NaN
119,119,1628670,NAD0Mz,170,3695,3,1,0,NaN,NaN,NaN,NaN
120,120,1634870,52RqdX,143,2633,3,1,3,NaN,NaN,NaN,NaN
123,123,1634870,5AGP0M,143,2633,3,1,3,NaN,NaN,NaN,NaN
127,127,1639500,1lG3Ob,26,3891,3,1,0,NaN,NaN,NaN,NaN
130,130,1644930,a04P0W,170,2782,3,1,1,NaN,NaN,NaN,NaN
131,131,1644930,a6WMoq,170,2782,3,1,1,NaN,NaN,NaN,NaN
133,133,1647740,ZjYpYz,168,1543,3,1,1,NaN,NaN,NaN,NaN
147,147,1712970,Nzz,135,307,3,1,1,NaN,NaN,NaN,NaN
151,151,1719970,ZX1,55,3387,3,1,1,NaN,NaN,NaN,NaN
157,157,1720060,Nq5,170,3865,3,1,1,NaN,NaN,NaN,NaN
172,172,1731810,8jZBM,137,954,3,1,0,NaN,NaN,NaN,NaN
182,182,1735280,YklbV,170,1351,3,1,1,NaN,NaN,NaN,NaN
189,189,1736800,1jqDR,166,1351,3,1,0,NaN,NaN,NaN,NaN
198,198,1755490,6kR5jR,26,3216,3,2,1,NaN,NaN,NaN,NaN
200,200,1755620,6kR5ov,43,1371,3,1,1,NaN,NaN,NaN,NaN
209,209,1757480,eRVO9W,42,3540,3,1,1,NaN,NaN,NaN,NaN
210,210,1757480,ZxYWBb,42,3540,3,1,1,NaN,NaN,NaN,NaN
225,225,1759170,Zj0WX5,154,1543,3,1,1,NaN,NaN,NaN,NaN
233,233,1759840,awWwV9,2,1194,3,4,1,NaN,NaN,NaN,NaN
239,239,1768440,6kRDpr,111,3296,3,1,1,NaN,NaN,NaN,NaN
256,256,1770610,6kG3XM,40,2681,3,1,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99417,99417,1112511974,5REV9z,168,2538,4,1,7,NaN,NaN,NaN,NaN
99420,99420,1112512004,NmEMEz,86,1351,2,1,7,NaN,NaN,NaN,NaN
99433,99433,1112512046,eZaQwj,12,3286,4,1,7,NaN,NaN,NaN,NaN
99440,99440,1112512069,6qBral,171,210,4,1,7,NaN,NaN,NaN,NaN
99469,99469,1112512163,a83KQ9,2,346,2,1,7,NaN,NaN,NaN,NaN
99493,99493,1112512291,Z0p8R1,122,4078,3,1,7,NaN,NaN,NaN,NaN
99495,99495,1112512291,arGoRq,122,4078,3,1,7,NaN,NaN,NaN,NaN
99533,99533,1112512410,arG81m,137,76,1,1,1,NaN,NaN,NaN,NaN
99539,99539,1112512561,Z03Npb,2,766,4,1,1,NaN,NaN,NaN,NaN
99559,99559,1112512619,ND3ZGl,142,2016,4,1,7,NaN,NaN,NaN,NaN
99566,99566,1112512631,5R4pKw,145,1762,4,1,7,NaN,NaN,NaN,NaN
99589,99589,1112512777,1R3PKj,30,3689,4,1,1,NaN,NaN,NaN,NaN
99613,99613,1112513015,12Q9Ez,117,34,4,1,7,NaN,NaN,NaN,NaN
99669,99669,1112513225,1R38pz,176,216,4,1,7,NaN,NaN,NaN,NaN
99697,99697,1112513389,ND1WbM,168,3813,4,1,7,NaN,NaN,NaN,NaN
99736,99736,1112513528,EbQMzz,130,2952,1,2,7,NaN,NaN,NaN,NaN
99772,99772,1112513686,1RVl8E,91,34,4,1,7,NaN,NaN,NaN,NaN
99788,99788,1112513755,EbQWD8,2,2633,2,1,7,NaN,NaN,NaN,NaN
99796,99796,1112513801,a8NpR9,14,2633,4,2,7,NaN,NaN,NaN,NaN
99808,99808,1112513825,NRmVK5,94,3422,4,1,7,NaN,NaN,NaN,NaN
99810,99810,1112513825,6Rzd3L,94,3422,4,1,7,NaN,NaN,NaN,NaN
99818,99818,1112513858,eVlkrj,145,707,4,1,1,NaN,NaN,NaN,NaN
99837,99837,1112513895,6bRJOM,168,3024,4,1,1,NaN,NaN,NaN,NaN
99867,99867,1112514091,eVljaj,5,2633,4,1,7,NaN,NaN,NaN,NaN
99902,99902,1112514505,5R1l6G,2,1289,4,1,7,NaN,NaN,NaN,NaN
99911,99911,1112514800,5R1mvv,118,1842,4,1,7,NaN,NaN,NaN,NaN
99917,99917,1112514813,eV6eME,42,3542,4,1,7,NaN,NaN,NaN,NaN
99943,99943,1112514984,NROZYl,118,3195,4,1,7,NaN,NaN,NaN,NaN
99978,99978,1112515069,a8YdG9,32,410,4,1,7,NaN,NaN,NaN,NaN
99988,99988,1112515103,Y6xQ4q,33,3284,4,1,7,NaN,NaN,NaN,NaN